<div *ngIf="champion" class="champion-detail">
    <app-champion-summary [champion]="champion"></app-champion-summary>
  
    <h2>Commentaires</h2>
    <div class="comment-section">
        <div class="add-comment">
            <textarea [(ngModel)]="newComment" placeholder="Ajoutez un commentaire"></textarea>
            <button (click)="addComment()">Publier</button>
        </div>
        <br>
  
        <div *ngIf="comments.length > 0" class="comments-list">
            <div *ngFor="let comment of comments; let i = index" class="comment-item">
                <p><strong>{{ comment.user }}</strong> : {{ comment.commentaire }}</p>
                <small>{{ comment.date_creation.toDate() | date: 'long' }}</small>

                <div *ngIf="comment.user === currentUserEmail" class="edit-icon">
                    <button (click)="toggleEditMode(i)">
                        <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </button>
                    <button (click)="openDeleteModal(comment.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </div>

                <div *ngIf="editIndex === i" class="edit-section">
                    <textarea [(ngModel)]="comment.commentaire"></textarea>
                    <button (click)="updateComment(comment.id, comment.commentaire)">Modifier</button>
                    <button (click)="cancelEdit()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <app-confirm-modal 
        *ngIf="showDeleteModal" 
        [message]="'Êtes-vous sûr de vouloir supprimer ce commentaire ?'"
        (confirm)="onDeleteConfirmed($event)">
    </app-confirm-modal>
</div>
  