<div class="home-container">
  <h1>Welcome to the Home Page!</h1>
  <p *ngIf="user">Hello, {{ user.email }}</p>
  <button (click)="logout()">Logout</button>

  <h2>Champions List</h2>
  <input type="text" placeholder="Search champions..." [(ngModel)]="searchTerm">
  
  <select [(ngModel)]="selectedType">
    <option value="">All Types</option>
    <option *ngFor="let type of getChampionTypes()" [value]="type">{{ type }}</option>
  </select>
  <select [(ngModel)]="selectedPartype">
    <option value="">All Partypes</option>
    <option value="mana">Mana</option>
    <option value="no-mana">No Mana</option>
  </select>

  <div class="champion-cards">
    <div class="champion-card" *ngFor="let champion of filteredChampions()" (click)="viewChampionDetails(champion.id)" appHighlight>
      <img [src]="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/' + champion.id + '.png'" alt="{{ champion.name }}">
      <h3>{{ champion.name }}</h3>
    </div>
  </div>
</div>